*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
/* задний фон */
body {
    height: 100vh;
    background-color: #000;
    background-position: center;
}
/* все с вверхнией линией с кнопками */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px black;
}
/* всё с лого */
header .logo {
    font-size: 20px;
    font-weight: 900;
    color: #000;
}
/* расположение кнопок */
header nav ul li {
    position: relative;
    float: left;
}
/* цвет текст */
header nav ul a {
    padding: 15px;
    color: #000;
    font-size: 16px;
    display: block;
    font-weight: 700;
}
/* цвет заднего плана на тексте и цвет текста при наведении  */
header nav ul li a:hover {
    background: #000;
    color: #fff;
}
/* меню закртое */
nav ul li ul {
    width: 100%;
    position: absolute;
    left: 0;
    width: 131px;
    background: #fff;
    display: none;
}
/* вкладки меню */
nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}
/* вкладка меню вторая */
nav ul li ul li ul {
    width: 100%;
    width: 131px;
    top: 49px;
    left: -1px;
}
/* при наведение показывает */
nav ul li:hover > ul {
    display: initial;
}
img {
    width: 700px;
    height: 600px;
    right: -0%;
    top: 20%;
    position: absolute;
}
.text1 {
    position: absolute;
    top: 40px;
    left: 375px;
    padding: 15px;
    color: #fff;
    font-size: 70px;
    display: block;
    font-weight: 1000;
    letter-spacing: -5px;
}
.text2 {
    position: absolute;
    top: 150px;
    left: 100px;
    padding: 15px;
    color: #fff;
    font-size: 35px;
    display: block;
    font-weight: 1000;
    word-wrap: break-word;
    width: 800px;
}
.text3 {
    position: absolute;
    left: 328px;
    top: 800px;
    padding: 15px;
    color: #000;
    font-size: 50px;
    display: block;
    font-weight: 1000;
    letter-spacing: -5px;
    word-wrap: break-word;
    width: 825px;
}
.text4 {
    position: absolute;
    top: 870px;
    left: 428px;
    padding: 15px;
    color: #000;
    font-size: 50px;
    display: block;
    font-weight: 1000;
    letter-spacing: -5px;
    word-wrap: break-word;
    width: 825px;
}
.more-detailed {
    width: 303px;
    height: 60px;
    cursor: pointer;
    border: none;
    background: rgb(56,23,0);
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 23px;
    letter-spacing: 3px;
    border-radius: 40px;
    outline: none;
    margin-top: 500px;
    margin-left: 120px;
    position: absolute;
    top: 0;
}
.theme button {
    cursor: pointer;
}
#dark {
    background: #fff;
    border: #fff;
    color: rgb(0,159,205);
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    width: 130px;
}
#dark:hover {
    background: rgb(0,159,205);
    border: rgb(0,159,205);
    color: #fff;  
}
#light {
    background-color: #000;
    border: #000;
    color: rgb(0,159,205);
    font-size: 14.1px;
    font-weight: 700;
    height: 50px;
    width: 130px;
}
#light:hover {
    background: rgb(0,159,205);
    border: rgb(0,159,205);
    color: #000;  
}
.object {
    height: 120vh;
    width: 100%;
    background: rgb(0, 130, 167);
}
.object2 {
    height: 100vh;
    width: 100%;
    background: #000;
}
@media screen and (max-width: 1000px) and (max-height: 1450px) {
    .object {
        height: 1025px;
        width: 107%;
        background: rgb(0, 130, 167);
    }   
    .object2 {
        height: 1025px;
        width: 107%;
        background: red;
    }
    img {
        width: 700px;
        height: 630px;
        right: -7%;
        top: 28%;
        position: absolute;
    }
    .text1 {
        position: absolute;
        top: 70px;
        left: 250px;
        padding: 15px;
        color: #fff;
        font-size: 70px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
    }
    .text2 {
        position: absolute;
        top: 200px;
        left: 60px;
        padding: 15px;
        color: #fff;
        font-size: 35px;
        display: block;
        font-weight: 1000;
        word-wrap: break-word;
        width: 825px;
    }
    .more-detailed {
        width: 303px;
        height: 60px;
        cursor: pointer;
        border: none;
        background: rgb(56,23,0);
        color: white;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 23px;
        letter-spacing: 3px;
        border-radius: 40px;
        outline: none;
        margin-top: 600px;
        margin-left: 75px;
        position: absolute;
        top: 0;
    }
    header {
        width: 100%;
        position: fixed;
        height: 70px;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8%;
        box-shadow: 0 5px 10px black;
    }
    header .logo {
        font-size: 35px;
        font-weight: 900;
        color: #000;
    }
    header nav ul li {
        position: relative;
        float: left;
    }
    header nav ul a {
        padding: 15px;
        color: #000;
        font-size: 30px;
        display: block;
        font-weight: 700;
    }
    nav ul li ul {
        width: 100%;
        position: absolute;
        left: 0;
        width: 227px;
        background: #fff;
        display: none;
        font-size: 35px;
    }
    nav ul li ul li {
        width: 100%;
        border: 1px solid rgba(0,0,0,.1);
    }
    nav ul li ul li ul {
        width: 100%;
        width: 227px;
        top: 55px;
    }
    nav ul li:hover > ul {
        display: initial;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
        font-size: 25px;
        font-weight: 700;
        height: 50px;
        width: 225px;
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
        font-size: 25px;
        font-weight: 700;
        height: 50px;
        width: 225px;
    }
    .text3 {
        position: absolute;
        top: 1100px;
        left: 170px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 800px;
        
    }
    .text4 {
        position: absolute;
        top: 1150px;
        left: 260px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 500px;
    }
}

@media (max-width: 1600px) and (max-height: 900px) {
    header .logo {
        font-size: 40px;
        font-weight: 900;
        color: #000;
    }
    header nav ul a {
        padding: 15px;
        color: #000;
        font-size: 26px;
        display: block;
        font-weight: 700;
    }
    nav ul li ul {
        width: 100%;
        position: absolute;
        left: 0;
        width: 200px;
        background: #fff;
        display: none;
    }
    nav ul li ul li ul {
        width: 100%;
        width: 200px;
        top: 49px;
        left: -1px;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
        font-size: 25px;
        font-weight: 700;
        height: 50px;
        width: 200px;
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
        font-size: 24.1px;
        font-weight: 700;
        height: 50px;
        width: 200px;
    }
    .text3 {
        position: absolute;
        left: 428px;
        top: 1120px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 825px;
    }
    .text4 {
        position: absolute;
        top: 1200px;
        left: 530px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 825px;
    }
}

@media (max-width: 1920px) and (max-height: 1080px) {
    header .logo {
        font-size: 50px;
        font-weight: 900;
        color: #000;
    }
    header nav ul a {
        padding: 15px;
        color: #000;
        font-size: 36px;
        display: block;
        font-weight: 700;
    }
    nav ul li ul {
        width: 100%;
        position: absolute;
        left: 0;
        width: 260px;
        background: #fff;
        display: none;
    }
    nav ul li ul li ul {
        width: 100%;
        width: 260px;
        top: 70px;
        left: -1px;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
        font-size: 35px;
        font-weight: 700;
        height: 60px;
        width: 260px;
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
        font-size: 34.1px;
        font-weight: 700;
        height: 60px;
        width: 260px;
    }
    .text3 {
        position: absolute;
        left: 550px;
        top: 1320px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 825px;
    }
    .text4 {
        position: absolute;
        top: 1400px;
        left: 630px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 825px;
    }
    .more-detailed {
        width: 303px;
        height: 60px;
        cursor: pointer;
        border: none;
        background: rgb(56,23,0);
        color: white;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 23px;
        letter-spacing: 3px;
        border-radius: 40px;
        outline: none;
        margin-top: 700px;
        margin-left: 210px;
        position: absolute;
        top: 0;
    }
    .text1 {
        position: absolute;
        top: 90px;
        left: 675px;
        padding: 15px;
        color: #fff;
        font-size: 80px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
    }
    .text2 {
        position: absolute;
        top: 250px;
        left: 200px;
        padding: 15px;
        color: #fff;
        font-size: 45px;
        display: block;
        font-weight: 1000;
        word-wrap: break-word;
        width: 1000px;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8%;
        box-shadow: 0 5px 10px black;
    }
    /* всё с лого */
    header .logo {
        font-size: 20px;
        font-weight: 900;
        color: #000;
    }
    /* расположение кнопок */
    header nav ul li {
        position: relative;
        float: left;
    }
    /* цвет текст */
    header nav ul a {
        padding: 15px;
        color: #000;
        font-size: 16px;
        display: block;
        font-weight: 700;
    }
    /* цвет заднего плана на тексте и цвет текста при наведении  */
    header nav ul li a:hover {
        background: #000;
        color: #fff;
    }
    /* меню закртое */
    nav ul li ul {
        width: 100%;
        position: absolute;
        left: 0;
        width: 131px;
        background: #fff;
        display: none;
    }
    /* вкладки меню */
    nav ul li ul li {
        width: 100%;
        border: 1px solid rgba(0,0,0,.1);
    }
    /* вкладка меню вторая */
    nav ul li ul li ul {
        width: 100%;
        width: 131px;
        top: 49px;
        left: -1px;
    }
    /* при наведение показывает */
    nav ul li:hover > ul {
        display: initial;
    }
    img {
        width: 700px;
        height: 600px;
        right: -0%;
        top: 20%;
        position: absolute;
    }
    .text1 {
        position: absolute;
        top: 40px;
        left: 375px;
        padding: 15px;
        color: #fff;
        font-size: 70px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
    }
    .text2 {
        position: absolute;
        top: 150px;
        left: 100px;
        padding: 15px;
        color: #fff;
        font-size: 35px;
        display: block;
        font-weight: 1000;
        word-wrap: break-word;
        width: 800px;
    }
    .text3 {
        position: absolute;
        left: 328px;
        top: 800px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 825px;
    }
    .text4 {
        position: absolute;
        top: 870px;
        left: 428px;
        padding: 15px;
        color: #000;
        font-size: 50px;
        display: block;
        font-weight: 1000;
        letter-spacing: -5px;
        word-wrap: break-word;
        width: 825px;
    }
    .more-detailed {
        width: 303px;
        height: 60px;
        cursor: pointer;
        border: none;
        background: rgb(56,23,0);
        color: white;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 23px;
        letter-spacing: 3px;
        border-radius: 40px;
        outline: none;
        margin-top: 500px;
        margin-left: 120px;
        position: absolute;
        top: 0;
    }
    .theme button {
        cursor: pointer;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
        font-size: 15px;
        font-weight: 700;
        height: 50px;
        width: 130px;
    }
    #dark:hover {
        background: rgb(0,159,205);
        border: rgb(0,159,205);
        color: #fff;  
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
        font-size: 14.1px;
        font-weight: 700;
        height: 50px;
        width: 130px;
    }
    #light:hover {
        background: rgb(0,159,205);
        border: rgb(0,159,205);
        color: #000;  
    }
    .object {
        height: 120vh;
        width: 100%;
        background: rgb(0, 130, 167);
    }
    .object2 {
        height: 100vh;
        width: 100%;
        background: #000;
    }
}
