/* задний фон */
body {
    background-color: #fff;
}
/* все с вверхнией линией с кнопками */
header {
    background: #fff;
    box-shadow: 0 5px 10px rgb(0,159,205);
}
/* всё с лого */
header .logo {
    color: rgb(0,159,205);
}

/* цвет текст */
header nav ul a {
    color: rgb(0,159,205);
}
/* цвет заднего плана на тексте и цвет текста при наведении  */
header nav ul li a:hover {
    background: rgb(0,159,205);
    color: #fff;
}
/* меню закртое */
nav ul li ul {
    background: #fff;
}
/* вкладки меню */
nav ul li ul li {
    border: 1px solid rgba(0,0,0,.1);
}

.change-theme[data-theme="dark"] {
    display: block;
}

.change-theme[data-theme="light"] {
    display: none;
}

.object {
    background: rgb(0,159,205);
}

.object2 {
    background: #fff;
}

@media screen and (max-width: 1000px) and (max-height: 1505px) {
    .object {
        background: rgb(0,159,205);
    }   
    .object2 {
        background: #fff;
    }
    .text1 {
        color: #fff;
    }
    .text2 {
        color: #fff;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: white;
    }
    header {
        background: #fff;
        box-shadow: 0 5px 10px black;
    }
    header .logo {
        color: #000;
    }
    header nav ul a {
        color: #000;
    }
    nav ul li ul {
        background: #fff;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text3 {
        color: #000;
    }
    .text4 {
        color: #000;
    }
}


@media (max-width: 1920px) and (max-height: 1080px) {
    header {
        background: #fff;
        box-shadow: 0 5px 10px black;
    }
    header .logo {
        color: rgb(0,159,205);
    }
    header nav ul a {
        color: rgb(0,159,205);
    }
    header nav ul li a:hover {
        background: #000;
        color: rgb(0, 130, 167);
    }
    nav ul li ul {
        background: #fff;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text1 {
        color: #fff;
    }
    .text2 {
        color: #fff;
    }
    .text3 {
        color: #000;
    }
    .text4 {
        color: #000;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: white;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
    }
    #dark:hover {
        background: #000;
        border: #000;
        color: rgb(0, 130, 167);  
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
    }
    #light:hover {
        background: rgb(0,159,205);
        border: rgb(0,159,205);
        color: #000;  
    }
    .object {
        background: rgb(0,159,205);
    }
    .object2 {
        background: #fff;
    }
}

@media (max-width: 1600px) and (max-height: 900px) {
    header {
        background: #fff;
        box-shadow: 0 5px 10px black;
    }
    header .logo {
        color: rgb(0,159,205);
    }
    header nav ul a {
        color: rgb(0,159,205);
    }
    header nav ul li a:hover {
        background: #000;
        color: rgb(0, 130, 167);
    }
    nav ul li ul {
        background: #fff;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text1 {
        color: #fff;
    }
    .text2 {
        color: #fff;
    }
    .text3 {
        color: #000;
    }
    .text4 {
        color: #000;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: white;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
    }
    #dark:hover {
        background: #000;
        border: #000;
        color: rgb(0, 130, 167);  
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
    }
    #light:hover {
        background: rgb(0,159,205);
        border: rgb(0,159,205);
        color: #000;  
    }
    .object {
        background: rgb(0,159,205);
    }
    .object2 {
        background: #fff;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    header {
        background: #fff;
        box-shadow: 0 5px 10px black;
    }
    header .logo {
        color: rgb(0,159,205);
    }
    header nav ul a {
        color: rgb(0,159,205);
    }
    header nav ul li a:hover {
        background: #000;
        color: rgb(0, 130, 167);
    }
    nav ul li ul {
        background: #fff;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text1 {
        color: #fff;
    }
    .text2 {
        color: #fff;
    }
    .text3 {
        color: #000;
    }
    .text4 {
        color: #000;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: white;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
    }
    #dark:hover {
        background: #000;
        border: #000;
        color: rgb(0, 130, 167);  
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
    }
    #light:hover {
        background: rgb(0,159,205);
        border: rgb(0,159,205);
        color: #000;  
    }
    .object {
        background: rgb(0,159,205);
    }
    .object2 {
        background: #fff;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    header {
        background: #fff;
        box-shadow: 0 5px 10px black;
    }
    header .logo {
        color: rgb(0,159,205);
    }
    header nav ul a {
        color: rgb(0,159,205);
    }
    header nav ul li a:hover {
        background: #000;
        color: rgb(0, 130, 167);
    }
    nav ul li ul {
        background: #fff;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text1 {
        color: #fff;
    }
    .text2 {
        color: #fff;
    }
    .text3 {
        color: #000;
    }
    .text4 {
        color: #000;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: white;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
    }
    #dark:hover {
        background: #000;
        border: #000;
        color: rgb(0, 130, 167);  
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
    }
    #light:hover {
        background: rgb(0,159,205);
        border: rgb(0,159,205);
        color: #000;  
    }
    .object {
        background: rgb(0,159,205);
    }
    .object2 {
        background: #fff;
    }
}

@media (min-width: 750px) and (min-height: 1334px) {
    header {
        background: #fff;
        box-shadow: 0 5px 10px black;
    }
    header .logo {
        color: rgb(0,159,205);
    }
    header nav ul a {
        color: rgb(0,159,205);
    }
    header nav ul li a:hover {
        background: #000;
        color: rgb(0, 130, 167);
    }
    nav ul li ul {
        background: #fff;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text1 {
        color: #fff;
    }
    .text2 {
        color: #fff;
    }
    .text3 {
        color: #000;
    }
    .text4 {
        color: #000;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: white;
    }
    #dark {
        background: #fff;
        border: #fff;
        color: rgb(0,159,205);
    }
    #dark:hover {
        background: #000;
        border: #000;
        color: rgb(0, 130, 167);  
    }
    #light {
        background-color: #000;
        border: #000;
        color: rgb(0,159,205);
    }
    #light:hover {
        background: rgb(0,159,205);
        border: rgb(0,159,205);
        color: #000;  
    }
    .object {
        background: rgb(0,159,205);
    }
    .object2 {
        background: #fff;
    }
}


