/* задний фон */
body {
    background-color: #000;
}
/* все с вверхнией линией с кнопками */
header {
    background: #000;
    box-shadow: 0 5px 10px rgb(0,159,205);
}
/* всё с лого */
header .logo {
    color: rgb(0,159,205);
}

/* цвет текст */
header nav ul a {
    color: rgb(0,159,205);
}
/* цвет заднего плана на тексте и цвет текста при наведении  */
header nav ul li a:hover {
    background: rgb(0,159,205);
    color: #000;
}
/* меню закртое */
nav ul li ul {
    background: #000;
}
/* вкладки меню */
nav ul li ul li {
    border: 1px solid rgba(0,0,0,.1);
}

.change-theme[data-theme="dark"] {
    display: none;
}

.change-theme[data-theme="light"] {
    display: block;
}

.object {
    background: rgb(0, 130, 167);
}

.object2 {
    background: #000;
}
@media screen and (max-width: 1000px) and (max-height: 1505px) {
    .object {
        background: rgb(0, 130, 167);
    }   
    .object2 {
        background: #000;
    }
    .text1 {
        color: #000;
    }
    .text2 {
        color: #000;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: #fff;
    }
    header {
        background: #000;
        box-shadow: 0 5px 10px #fff;
    }
    header .logo {
        color: #fff;
    }
    header nav ul a {
        color: #fff;
    }
    nav ul li ul {
        background: #000;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text3 {
        color: #fff;
    }
    .text4 {
        color: #fff;
    }
}

@media screen and (min-width: 1900px) and (min-height: 950px) {
    .object {
        background: rgb(0, 130, 167);
    }   
    .object2 {
        background: #000;
    }
    .text1 {
        color: #000;
    }
    .text2 {
        color: #000;
    }
    .more-detailed {
        background: rgb(56,23,0);
        color: #fff;
    }
    header {
        background: #000;
        box-shadow: 0 5px 10px #fff;
    }
    header .logo {
        color: #fff;
    }
    header nav ul a {
        color: #fff;
    }
    nav ul li ul {
        background: #000;
    }
    nav ul li ul li {
        border: 1px solid rgba(0,0,0,.1);
    }
    .text3 {
        color: #fff;
    }
    .text4 {
        color: #fff;
    }
}
